{% extends 'base.html.twig' %}

{% block title %}{{ meta.title }} | Finn's Web{% endblock %}

{% block body %}
    <div class="md:max-w-prose mx-auto p-4">
        <h1>{{ meta.title }}</h1>
        {% if meta.date_published != 'DRAFT' %}
          <span class="text-sm font-bold pl-2">Published: {{ meta.date_published }}</span>
          <span class="text-sm inline-block ml-4 italic">Updated: {{ meta.date_updated }}</span>
        {% endif %}
        <div class="posts-content">
            {{ content|raw }}
        </div>
    </div>
{% endblock %}
